#ignore compile files in the C_Workspace
/C_Workspace/*

#ignore compile files in the file Java_Workspace
/Java_Workspace/*

#ignore comple files in the Py_Works
/Py_Works/*

#do not igonre .h .cpp .c .java .py source files
!*.c
!*.cpp
!*.h
!*.java
!*.py
!*.cbp